body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body > div:first-child,
body > div:first-child > div:first-child,
body > div:first-child > div:first-child > div {
  height: inherit;
}

input {
  box-sizing: border-box;
  padding: 9.5px 15px;
  border: 0;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  font-size: 14px;
  transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
  max-width: 250px;
  border-radius: 0;
}

input:focus {
  outline: none;
  border-color: #000;
}

@media (min-width: 768px) {
  input {
    min-width: 300px;
    max-width: 620px;
  }
}

.res {
  display: inline-block;
  padding-top: 5px;
}

.res img {
  vertical-align: middle;
  height: 2em;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.content {
  text-align: center;
  max-width: 100%;

  -webkit-animation: fadein 2s;
   -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
     -o-animation: fadein 2s;
        animation: fadein 2s;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 40px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

aside nav {
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside nav a {
  font-size: 13px;
  color: #b2b2b2;
  text-decoration: none;
  transition: color 100ms ease-in;
}

aside nav a:hover {
  color: #ff0080;
}

aside nav b {
  display: block;
  background: #b2b2b2;
  width: 1px;
  height: 100%;
  margin: 0 10px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  max-width: 390px;
  text-align: center;
  margin: 14px auto 30px auto;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@media (max-height: 400px) {
  aside {
    display: none;
  }
}
